@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Merriweather:wght@300&family=Noto+Serif+JP:wght@200&display=swap");

$primary-font: "Josefin Sans", sans-serif;

$secondary-font: "Merriweather", serif;

// Font för japanska tecken. Lorem ipsum på japanska: 痛み自体、痛みは強化されるでしょう。時代、労苦、そして体の快楽を避けなければならない出席者の誰もが避けてはならない、私たちは彼らの選択を考慮します！しかし、現在のいくつか、または不健康なものは、想定される非常に深刻な迷惑をもたらすでしょう。
$japanfont: "Noto Serif JP", serif;

* {
  font-family: $primary-font;
  p {
    color: $brown;
  }
}
