@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Merriweather:wght@300&family=Noto+Serif+JP:wght@200&display=swap");

$primary-font: "Josefin Sans", sans-serif;

$secondary-font: "Merriweather", serif;

// Font för japanska tecken.
$japanfont: "Noto Serif JP", serif;

* {
  font-family: $primary-font;

  p {
    color: $brown;
  }
}
