// Color palett

//Text

// Background
$biege: #ede6d6;

//Background for smaller objects (buttons, menus etc)
$white: #ffff;

//Big text, headers, headlines, shades
$brown: #422b29;

//Borders and button text
$red: #f98b6d;
