.btn-primary {
  // Ta bort i mobil-läge
  color: $beige;
  background-color: $brown !important;
  border: 1px solid $beige;
}

.product-info {
  background-color: white;
  padding: 80px;
}

#checkOutform {
  width: 100%;
  padding-right: 500px;
}

.container {
  img {
    width: 100%;
    border-radius: 10%;
    box-shadow: $red 5px 5px 0px 2px;
    transition: transform 0.1s;
  }
}
.mini-container {
  width: 800px;
}

.summary {
  border-bottom: 1px solid #999;
}

.bg-w {
  background-color: whitesmoke;
}
.iframe {
  background-color: white;
  border: 1px solid #e7e7e7;
}
.frame {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  span,
  p {
    margin: 0;
  }
  .hl {
    background-color: black;
    color: white;
  }
  .pn {
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 5px;
  }
}
