.btn-primary {
  // Ta bort i mobil-läge
  color: $beige;
  background-color: $brown !important;
  border: 1px solid $beige;
}

.product-info {
  background-color: white;
  padding: 80px;
}

form {
  padding: 30px !important;
  @include for-phone-only {
    padding: 0px !important;
  }
}

#checkOutform {
  width: 100%;
  padding-right: 500px;
}

.container {
  .productimg {
    width: 100%;
    border-radius: 10%;
    box-shadow: $red 5px 5px 0px 2px;
    transition: transform 0.1s;

    @include for-tablet-landscape-up {
      width: 70%;
    }
  }

  .klarnalogo {
    width: 50px;
    border-radius: 6px;
    display: none;
    @include for-tablet-landscape-up {
      display: block;
    }
  }
}

.blackcheck {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  margin: 0;
  padding: 0;

  div {
    background-color: white;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    margin: 0;
    padding: 0;
  }
}

.avatarround {
  opacity: 0;

  @include for-tablet-landscape-up {
    opacity: 100%;
    background-color: #bcd5d3;
    color: #5a6866;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    font-size: 15px;
    margin: 0;
    padding: 0;
    p {
      margin: 0;
      padding: 0;
    }
  }
}

.mini-container {
  width: 80%;
  margin: auto;
}

.summary {
  border-bottom: 1px solid #999;
}

.bg-w {
  background-color: whitesmoke;
}
.iframe {
  background-color: white;
  border: 1px solid #e7e7e7;
}
.frame {
  flex-wrap: wrap;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  @include for-tablet-landscape-up {
    padding: 0;
  }
  span,
  p {
    margin: 0;
  }
  .hl {
    background-color: black;
    color: white;
  }
  .pn {
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 5px;
  }
}

.beige-frame {
  background-color: #f0eeea;
  width: fit-content;
  p {
    font-size: 15px;
  }
}

.box-frame {
  border: 1px solid #959391;
  border-radius: 5px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding: 13px;
  label {
    position: absolute;
    color: grey;
    font-weight: 100;
    padding-top: 5px;
    padding-left: 5px;
  }
  input,
  select {
    padding: 15px;
    padding-top: 30px;
    width: 100%;
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #959391;
    .col-12 input {
      border-right: 1px solid #959391;
    }
    .col-6 {
      input {
        border-right: 1px solid #959391 !important;
      }
    }
  }
  .line-right {
    border-right: 1px solid #959391 !important;
  }
  .col-12,
  .col-6 {
    padding: 0;
  }
}

.purchase {
  padding: 30px;
  text-align: right;
  button {
    padding: 10px;
  }

  .continue {
    background-color: #333;
    color: white;
    width: max-content;
  }
}
