.background-image {
  display: flex;

  background-image: url("../../assets/background-image-final.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center center;

  .cups {
    img {
      width: 100%;
      border-radius: 20%;
      box-shadow: $red 5px 5px 0px 2px;

      transition: transform 0.1s;
    }
  }
  .cups:hover {
    transform: scale(1.02);
    border-radius: 20%;
    opacity: 0.9;
  }
}

h2 {
  color: $brown;
  text-align: center;
}
