.background-image {
  display: flex;

  background-image: url("../../assets/background-image-final.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .cups {
    img {
      width: 100%;
    }
  }
}
