footer {
  h6 {
    text-transform: uppercase;
    color: $red;
    padding-top: 25px;

    @include for-tablet-landscape-up {
      padding: 20px 0 5px 0;
    }
  }
  p {
    text-transform: lowercase;
    font-family: $secondary-font;
    font-size: 11px;
    color: $beige;
  }

  a {
    font-family: $secondary-font;
    text-decoration: none;
    color: $beige;
  }
  a:hover {
    cursor: pointer;
  }
  .footer-background {
    background-color: $brown;
    color: $beige;
  }
}
