header {
  background-color: $brown;
  position: relative;
  height: 60px;
  width: 100%;
  z-index: 1;

  div,
  label {
    width: 100%;
  }

  .logo {
    h1 {
      font-family: $japanfont;
      font-size: 28px;
    }

    a {
      text-decoration: none;
      color: $red;
    }
  }
  .hover:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}
i {
  color: $red;
  font-size: 25px;
  padding-right: 20px;
}
