header {
  background-color: $brown;
  display: flex;
  height: 50px;

  div,
  label {
    width: 100%;
  }

  .checkbox {
    display: none;
  }

  .burger {
    cursor: pointer;

    @include for-desktop-up {
      display: none;
    }
  }

  .burgerline {
    background-color: $red;
    /*    display: block; */
    height: 0.25em;
    width: 2em;
    border-radius: 30px;
    position: relative;
  }

  .burgerline:before,
  .burgerline:after {
    background-color: $red;
    content: "";
    /*     display: block;
 */
    height: 0.25em;
    width: 2em;
    border-radius: 30px;
    position: absolute;
    /*     transition: background 0.2s ease-out;
 */
  }

  .burgerline:after {
    top: 0.6em;
  }

  .burgerline:before {
    top: -0.6em;
  }

  .logo {
    justify-content: center;
    font-family: $japanfont;

    @include for-desktop-up {
      justify-content: flex-start;
    }

    a {
      text-decoration: none;
      color: $red;
    }
  }

  i {
    color: $red;
    font-size: 25px;
    padding-right: 20px;
  }

  .hover:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
