.hero-image {
  background-image: url("../../assets/yunomi-workshop-hero-image3-cropped.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 90vh;
  width: 100vw;

  .hero-image-text {
    color: $beige;
    text-align: right;
    padding: 75px 75px 75px 50px;
    font-size: 2em;

    @include for-tablet-landscape-up {
      font-size: 3em;
    }

    @include for-desktop-up {
      font-size: 4em;
    }
    h1 {
      text-shadow: 5px 5px 10px $brown;
      font-size: 1.3em; //Görs mindre vid mobil-läge
    }
    p {
      text-shadow: 5px 5px 10px $brown;
      font-size: 0.9em; //Görs mindre vid mobil-läge
    }
  }

  .btn-secondary {
    opacity: 0;

    @include for-tablet-landscape-up {
      opacity: 100%;
      color: $beige;
      background-color: $brown !important;
      border: 1px solid $beige;
      margin: 75px 75px;
    }
  }
}

// Animation

.animation {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
  z-index: 10;

  @include for-tablet-landscape-up {
    display: none;
  }
}

.mouse {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 35px;
  border: 3px solid white;
  transform: scale(0.8);
  border-radius: 20px;
  span {
    position: relative;
    top: -5px;
    content: "";
    background-color: white;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    animation: scroll 1s linear infinite;
  }
}

@keyframes scroll {
  0% {
  }
  100% {
    top: 5px;
    opacity: 0;
  }
}
