.menu {
  background-color: beige;
  display: flex;
  position: relative;
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  top: 40px;
  justify-content: center;

  a {
    color: $brown;
    text-decoration: none;
  }
  li {
    list-style: none;
  }
}

.checkbox:checked ~ .menu {
  max-height: 5em;
}

.checkbox:checked:checked ~ .burger-icon .burgerline {
  background: transparent;
}

.checkbox:checked ~ .burger-icon .burgerline:before {
  transform: rotate(135deg);
}

.checkbox:checked ~ .burger-icon .burgerline:after {
  transform: rotate(-135deg);
}

.checkbox:checked ~ .burger-icon:not(.steps) .burgerline:before,
.checkbox:checked ~ .burger-icon:not(.steps) .burgerline:after {
  top: 0;
}
