.background-image {
  height: 100%;
  background-image: url("../../assets/background-image-final.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center center;

  .confirmation-container {
    width: 50%;
    margin: 5% auto;
    border-radius: 20px;

    @include for-phone-only {
      width: 90%;
    }

    .confirmation-header {
      border: 10px solid $red;
      border-radius: 20px;
      background-color: white;
      box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.24);
    }

    .confirmation-product {
      h3 {
        color: $brown;
        padding-top: 20px;
        padding-bottom: 30px;
        display: block;
        text-decoration: underline;
        text-align: center;
      }
      p {
        margin: 10px auto;
        padding: -10px;
        color: $brown;
      }
      /*      .your-order {
        @include for-phone-only {
          width: 70%;
          margin: 10px;
        }
        width: 50%;
        margin: 0 auto;

        img {
          width: 100%;
        }
        .ordered-product {
          width: 150px;
          padding-right: 10px;
          color: $brown;
        }
      }
      .article-number,
      .article-color {
        width: 10%;
      } */
    }
  }

  .ordernumber {
    text-decoration: 2px underline;
    font-size: 2em;
    padding: 10px;
    margin-top: 10px;
    color: $brown;
  }

  .customer-information {
    border: 10px solid $red;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.24);

    margin-bottom: 20px;
    margin-top: -10px;
    padding: 5px;
    color: $brown;
  }

  h4,
  h6 {
    text-align: center;
    color: $brown;
  }
}
