/* .background-image {
  height: 100%;
  background-image: url("../../assets/background-image-final.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center center;

  .confirmation-container {
    width: 50%;
    margin: 5% auto;
    border-radius: 20px;

    @include for-phone-only {
      width: 90%;
    }

    .confirmation-header {
      border: 10px solid $red;
      border-radius: 20px;
      background-color: white;
      box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.24);
    }

    .confirmation-product {
      h3 {
        color: $brown;
        padding-top: 20px;
        padding-bottom: 30px;
        display: block;
        text-decoration: underline;
        text-align: center;
      }
      p {
        margin: 10px auto;
        padding: -10px;
        color: $brown;
      }
    }
  }

  .ordernumber {
    text-decoration: 2px underline;
    font-size: 2em;
    padding: 10px;
    margin-top: 10px;
    color: $brown;
  }

  .customer-information {
    border: 10px solid $red;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.24);

    margin-bottom: 20px;
    margin-top: -10px;
    padding: 5px;
    color: $brown;
  }

  h4,
  h6 {
    text-align: center;
    color: $brown;
  }
} */

.background-image {
  height: 100%;
  background-image: url("../../assets/background-image-final.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center center;

  .confirmation-container {
    margin: 5% auto;

    @include for-phone-only {
      width: 90%;
    }

    .confirmation-header {
      background-color: $brown;
      width: 100%;
      height: 100%;
      padding: 10% 10% 5% 10%;
      border-radius: 30px 0 30px 0;
      box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.24);
      text-align: center;

      h3 {
        color: $red;
        text-decoration: underline;
        padding-bottom: 10px;
      }

      h6 {
        color: $beige;
        padding-bottom: 10px;
      }
    }
  }

  .orderinformation-container {
    background-color: $brown;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.24);
    border-radius: 0 60px 0 30px;

    color: $beige;

    .ordernumber {
      margin-top: 10px;
    }
    .ordered-product-text {
      padding: 0 50px 50px 50px;
      display: flex;
      flex-direction: row;
      text-align: right center;
      margin: 0 auto;
    }
    .ordered-product {
      width: 100px;
      margin: 0 auto;
      margin-right: 10px;
    }

    table {
      width: 10%;
      margin: 0 auto;
      padding-bottom: 20px;
    }
    h3 {
      text-align: center;
      text-decoration: underline;
      margin-bottom: 20px;
    }
    h5 {
      color: $red;
    }

    th {
      text-decoration: underline;
      display: flex;
      flex-direction: column;
      font-size: 1em;
      margin-bottom: 5px;
    }
    td {
      display: flex;
      flex-direction: column;
      font-size: 1em;
      justify-content: center;
    }
  }

  .ordernumber {
    // background-color: $brown;
    width: 100%;
    height: 100px;
    padding: 5% 5% 5% 5%;
    color: $red;
    font-size: 2em;
    text-align: center;
  }

  .customer-information {
    width: 100%;
    margin-bottom: 50px;
  }
}
